.chart-container {
    width: 400px;
    height: 400px; /* Устанавливаем высоту по желанию */
    position: relative;
}

.chart-controls {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;
}

.chart-controls label {
    display: flex;
    align-items: center;
    gap: 5px;
}